.navbar{
    background-color: rgb(7, 1, 54) !important;
        font-family: "Jersey 25", sans-serif;
        font-weight: 400;
        font-style: normal;
}
.coloreprincipale{
    background-color: rgb(7, 1, 54) !important;
}
body{
    font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
footer{
    background-color: rgb(7, 1, 54) !important;
}
footer p{
    color:white;
}
footer img{
    display:block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom:5px;
    width:100px;
}
.studio{
    background-color: white;
    margin-left:auto;
    margin-right:auto;
    display: block;
}
.studio img{
    width: 60%;
    height: 60%;
}
.scelte{
    width: 300px;
    height: 150px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.card{
    margin:0 .5em;
    margin-bottom:25px;
}
.personalizzazione{
    background-color:#373b3f;
}
.personalizzazione p, h5{
    color: white;
}
.card:hover{
    border: 3px solid white;
    box-sizing: border-box;
}
.login{
    background-color:rgb(7, 1, 54)
}
.login h1, label{
    color:white;
}
.accedi{
    background-color: #0d6efd;
    margin-top: 5px;
}
a{
    text-decoration: none;
}
.accedi a{
    color:white;
}
@media screen and (max-width: 575px) {
    .selezioni {
      display: none;
    }
}
@media screen and (max-width: 575px){
    .card-text{
        display:none;
    }
}